{{#extends 'base'}}

{{#block "content"}}
<h1>TechNexus Admin Portal</h1>
<div class="container mt-2">
    <h3>User</h3>
    <div class="row mt-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Add, Delete and Modify Users</p>
                    <a href="admin/users" class="btn btn-primary">User Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <p class="card-text">Add, Delete and Modify Roles</p>
                    <a href="admin/roles" class="btn btn-primary">Role Management</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container mt-2">
    <h3>Product</h3>
    <div class="row mt-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Add, Delete and Modify Products</p>
                    <a href="admin/products" class="btn btn-primary">Product Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brands</h5>
                    <p class="card-text">Add, Delete and Modify Brands</p>
                    <a href="admin/brands" class="btn btn-primary">Brand Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Add, Delete and Modify Categories</p>
                    <a href="admin/categories" class="btn btn-primary">Categories Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reviews</h5>
                    <p class="card-text">Add, Delete and Modify reviews</p>
                    <a href="admin/reviews" class="btn btn-primary">Reviews Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <h3>News</h3>
    <div class="row mt-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News Article</h5>
                    <p class="card-text">Add, Delete and Modify News Article</p>
                    <a href="admin/news" class="btn btn-primary">News Article Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">Add, Delete and Modify Comments</p>
                    <a href="admin/comments" class="btn btn-primary">Comments Management</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container mt-2">
    <h3>Order</h3>
    <div class="row mt-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Add, Delete and Modify Orders</p>
                    <a href="admin/orders" class="btn btn-primary">Orders Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Items</h5>
                    <p class="card-text">Add, Delete and Modify Order Items</p>
                    <a href="admin/orderitems" class="btn btn-primary">Order Items Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Statues</h5>
                    <p class="card-text">Add, Delete and Modify Order Statues</p>
                    <a href="admin/orderstatus" class="btn btn-primary">Order Statues Management</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cart Items</h5>
                    <p class="card-text">Add, Delete and Modify Cart Items</p>
                    <a href="admin/cartitems" class="btn btn-primary">Cart Items Management</a>
                </div>
            </div>
        </div>
    </div>
</div> 
{{/block}}

{{/extends}}