{{#extends "base"}}
{{#block "content"}}
<h1>Updating Order ID {{orderitem.order.id}} Item for {{orderitem.product.product_name}}</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    
    <a class="btn btn-danger mt-3" href="/admin/orderitems">Cancel</a>
    <input type="submit" value="Update Order Item" class="btn btn-primary mt-3"/>
</form>
{{/block}}


{{/extends}}