{{#extends "base"}}
  {{#block "content"}}
    <h1>Updating
      {{review.user.username}}
      review for
      {{review.products.product_name}}</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}

      <a class="btn btn-danger mt-3" href="/admin/reviews">Cancel</a>
      <input type="submit" value="Update Review" class="btn btn-primary mt-3" />
    </form>
  {{/block}}

{{/extends}}