{{#extends "base"}}

  {{#block "content"}}
    <h1>Create New News Article</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}
      <a class="btn btn-danger mt-3" href="/admin/news">Cancel</a>
      <input
        type="submit"
        class="btn btn-primary mt-3"
        value="Add News Article"
      />
    </form>
  {{/block}}

{{/extends}}