{{#extends "base"}}
  {{#block "content"}}
    <h1>Updating {{news.title}}</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}

      <a class="btn btn-danger mt-3" href="/admin/news">Cancel</a>
      <input
        type="submit"
        value="Update Category"
        class="btn btn-primary mt-3"
      />
    </form>
  {{/block}}

{{/extends}}