{{#extends "base"}}

  {{#block "content"}}
    <h1>Create New Order Status</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}
      <a class="btn btn-danger mt-3" href="/admin/orderstatus">Cancel</a>
      <input
        type="submit"
        class="btn btn-primary mt-3"
        value="Add Order Status"
      />
    </form>
  {{/block}}

{{/extends}}