{{#extends "base"}}

{{#block "content"}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="alert alert-danger">
        Are you sure you want to delete {{comment.user.username}} comment for {{comment.news.title}}
        <div>
            <a class="btn btn-success btn-sm" href="/admin/comments">Cancel</a>
            <input value="Confirm" type="submit" class="btn btn-danger btn-sm"/>
        </div>
    </div>
</form>
{{/block}}

{{/extends}}