{{#extends "base"}}
{{#block "content"}}
<h1>Updating {{product.product_name}}</h1>
<form method="POST">
    {{{form}}}
    <a class="btn btn-danger mt-3" href="/admin/products">Cancel</a>
    <input type="submit" value="Update Product" class="btn btn-primary mt-3"/>
</form>
{{/block}}
{{/extends}}