{{#extends "base"}}
  {{#block "content"}}
    <h1>Updating {{brand.brand_name}}</h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}

      <a class="btn btn-danger mt-3" href="/admin/brands">Cancel</a>
      <input type="submit" value="Update Brands" class="btn btn-primary mt-3" />
    </form>
  {{/block}}

{{/extends}}