{{#extends "base"}}
  {{#block "content"}}
    <h1>Updating Cart Item for
      {{cartitem.user.username}}, Product
      {{cartitem.product.product_name}}
    </h1>
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}

      <a class="btn btn-danger mt-3" href="/admin/cartitems">Cancel</a>
      <input
        type="submit"
        value="Update Cart Item"
        class="btn btn-primary mt-3"
      />
    </form>
  {{/block}}

{{/extends}}